<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Users</title>
    <style>
      table,
      th,
      tr,
      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1>Details of users</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>username</th>
        <th>email-Id</th>
      </tr>
      <%for(user of users){%>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username%></td>
        <td><%= user.email %></td>
        <td>
          <form action="/user/<%= user.id %>/edit" method="get">
            <button>Edit username</button>
          </form>
        </td>
      </tr>

      <%}%>
    </table>
  </body>
</html>
